body {
  font-family: "Oxygen", sans-serif;
  background: rgb(255, 255, 255);
}

.modal-header {
  font-size: 30px;
  font-weight: 700;
  color: #000;
}

.header-space {
  height: 150px;
  text-align: center;
}

.list-group-item {
  position: relative;
  padding: 1px;
  background-color: inherit;
  border: 0;
  border-radius: 18px;
}

.text-align-space {
  position: relative;
  top: 100;
  height: 100;
  font-size: 15px;
  font-weight: 700;
}
.header {
  width: 100%;
  background: #f0ff21;
  box-shadow: 0px 2px 4px rgba(34, 40, 46, 0.75);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.btn-primary {
  width: 100%;
  height: 60px;
  border-radius: 18px;
  margin: 0px;
  text-decoration: #356bff;
  font-weight: 700;
  font-size: 28px;
  text-transform: capitalize;
  position: relative;
  z-index: 0;
  background: #00ae8f;
  box-shadow: 0px 2px 4px rgba(33, 51, 70, 0.75);
}

.modal_character {
  text-transform: capitalize;
  text-align: center;
  font-weight: 700;
  border-radius: 15px;
}

.backtotop {
  text-align: left;
  font-size: 20px;
  text-decoration: underline;
  font-weight: 700;
}

footer {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80px;
  background-color: inherit;
  border-top: 2px solid #000000;
}

.modal-content {
  max-width: 300px;
  max-height: auto;
}

.btn-secondary {
  width: auto;
  border-radius: 10px;
  margin: 0px;
  font-weight: 700;
  font-size: 18px;
  text-transform: capitalize;
  position: relative;
  z-index: 0;
  background: #008578;
  box-shadow: 0px 2px 4px rgba(33, 51, 70, 0.75);
  border-width: 3px;
}

.list-group {
  border-collapse: collapse;
}

img {
  max-height: 250px;
}
