{
    "env": {
        "es6": true,
        "browser": true
    },
    "extends": [
        "eslint:recommended",
        "some-other-config-you-use",
      "prettier"
    ],
    "rules": {
        "quotes": ["error", "single"]
    }

 
  }
